<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/login/popin_logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/static/css/login/changePW.css">
    <title>포핀 | 비밀번호 재설정</title>
</head>
<body>
    <div>
        <div class = "login-form">
        <div class = "top">
                <h2>PO-PIN</h2>
            </div>
            <hr>
            <!-- 비밀번호 재설정 -->
            <h3>비밀번호 재설정</h3>
            <label>새 비밀번호</label>
            <input type = "text" name = "pw" class = "input pw" placeholder="비밀번호는 8자 이상 16자 이하 입력하세요">
            <label>새 비밀번호 확인</label>
            <input type = "text" name = "pw" class = "input pw" placeholder="새 비밀번호를 다시 입력하세요.">
            <!-- {% comment %} <ul> {% endcomment %}
                {% comment %} <li>8자 이상 16자 이하</li> {% endcomment %}
                {% comment %} <li>영문 대소문자, 숫자, 특수문자 중 3종류 이상 조합</li> {% endcomment %}
                {% comment %} <li></li> {% endcomment %}
            {% comment %} </ul> {% endcomment %}-->
            <input class = "findID" type = "button" value = "비밀번호 재설정">
            <input class = "back" type = "button" value = "이전 페이지로 돌아가기">
        </div>
    </div>
    
</body>
</html>