{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/login/popin_logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/static/css/login/findID.css">
    <title>로그인 - 아이디 찾기</title>
</head>
<body>
    <div>
        <div class = "login-form">
        <div class = "top">
            <h2>PO-PIN</h2>
            </div>
            <div class = "subtitle">아이디를 잊어버리셨나요?</div>
            <hr>
            <!-- 아이디찾기 -->
            <h3>아이디 찾기</h3>
            <div class = "subtitle">가입 시 입력했던 정보를 통해 아이디를 찾을 수 있습니다.</div>

            <label>이름</label>
            <input type = "text" name = "name" class = "input id" placeholder="실명을 입력하세요.">
            <label>이메일주소</label>
            <div class = "email">
                <input type = "text" name = "pw" class = "input pw" placeholder="example">
                <a>@</a>
                <input type = "text" name = "pw" class = "input pw" placeholder="popin.com">
            </div>
            <select class = "emailAuto">
                <option value="">선택하세요.</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hanmail.net">hanmail.net</option>
                <option value="직접입력">직접입력</option>
            </select>
            <div class = "code">
                <input type = "text" name = "pw" class = "input pw" placeholder="인증번호 6자리">
                <input class = "button pw" type = "button" value = "인증번호전송">
            </div>
            <input class = "findID" type = "button" value = "아이디찾기">
            <input class = "back" type = "button" value = "로그인 페이지로 이동">
        </div>
    </div>
    
</body>
</html>